*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ProblemsCreator/Testing/target/
/ProblemsCreator/Testing/src/main/java/com/ran/testing/temp/
/ProblemsCreator/Testing/file_system/
/ProblemsCreator/Development/src/main/java/com/ran/development/temp/
/ProblemsCreator/Development/target/
/ProblemsCreator/Development/file_system/
/ProblemsCreator/Development/development.log